{% load static %}
{% load crispy_forms_tags %}
<html>
  <head>
      {% include 'inc/_nav.html' %}
      <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/style.css' %}" rel="stylesheet">
      <title>{% block title %}Создание анкеты{% endblock %}</title>

    <style type="text/css">
      #map {
        float: left;
        height: 80%;
        width: 49%;
      }
      #form {
        float: right;
        height: 50%;
        width: 49%;
      }
      #fields {
        width: 49%;
      }
    </style>

  </head>
  <body>
    <script>
      function initMap() {
        minsk = { lat: 53.900000, lng: 27.566700};
        map = new google.maps.Map(document.getElementById("map"), {
          zoom: 11,
          center: minsk,
          styles: [
            { elementType: "geometry", stylers: [{ color: "#242f3e" }] },
            {
              elementType: "labels.text.stroke",
              stylers: [{ color: "#242f3e" }],
            },
            {
              elementType: "labels.text.fill",
              stylers: [{ color: "#746855" }],
            },
            {
              featureType: "administrative.locality",
              elementType: "labels.text.fill",
              stylers: [{ color: "#d59563" }],
            },
            {
              featureType: "poi",
              elementType: "labels.text.fill",
              stylers: [{ color: "#d59563" }],
            },
            {
              featureType: "poi.park",
              elementType: "geometry",
              stylers: [{ color: "#263c3f" }],
            },
            {
              featureType: "poi.park",
              elementType: "labels.text.fill",
              stylers: [{ color: "#6b9a76" }],
            },
            {
              featureType: "road",
              elementType: "geometry",
              stylers: [{ color: "#38414e" }],
            },
            {
              featureType: "road",
              elementType: "geometry.stroke",
              stylers: [{ color: "#212a37" }],
            },
            {
              featureType: "road",
              elementType: "labels.text.fill",
              stylers: [{ color: "#9ca5b3" }],
            },
            {
              featureType: "road.highway",
              elementType: "geometry",
              stylers: [{ color: "#746855" }],
            },
            {
              featureType: "road.highway",
              elementType: "geometry.stroke",
              stylers: [{ color: "#1f2835" }],
            },
            {
              featureType: "road.highway",
              elementType: "labels.text.fill",
              stylers: [{ color: "#f3d19c" }],
            },
            {
              featureType: "transit",
              elementType: "geometry",
              stylers: [{ color: "#2f3948" }],
            },
            {
              featureType: "transit.station",
              elementType: "labels.text.fill",
              stylers: [{ color: "#d59563" }],
            },
            {
              featureType: "water",
              elementType: "geometry",
              stylers: [{ color: "#17263c" }],
            },
            {
              featureType: "water",
              elementType: "labels.text.fill",
              stylers: [{ color: "#515c6d" }],
            },
            {
              featureType: "water",
              elementType: "labels.text.stroke",
              stylers: [{ color: "#17263c" }],
            },
          ]
        })
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>


    <h3>{% block content %}<font color="white">Квартиры, выставленные на продажу</font>
    <a href="{% url 'all_houses' page=1%}" class="btn btn-warning btn-sm" role="button">Вернуться к списку всех квартир</a>
    {% endblock %}</h3>
    <div id="map">

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALRO5c6X6Jm6Rc26dooAl1T_f2RZysmU0&callback=initMap&libraries=&v=weekly"
      async defer
    ></script>

    </div>

    <div id="form">

    <form method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        <input type="text" id="place" class="form-control" name="address" style="width:50%;" required placeholder="Например, г.Минск ул.Октябрьская д.3">
        <font color="yellow"><div id="fields">{{ form|crispy }}</div></font><br>
        <button type="submit" class="btn btn-warning">Save</button>
    </form>
    </div>

  </body>
</html>
