{% load static %}
<html>
  <head>
      {% include 'inc/_nav.html' %}
      <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/style.css' %}" rel="stylesheet">
      <title>Все квартиры</title>

    <style type="text/css">
      #map {
        float: left;
        height: 80%;
        width: 49%;
      }
      #addresses {
        float: right;
        height: 50%;
        width: 49%;
      }
      #cards{
      }
      #price_filter {
        width: 55%;
      }
      a{
        text-decoration: none;
      }
    </style>

  </head>
  <body>
    <script>
      function initMap() {
        minsk = { lat: 53.900000, lng: 27.566700};
        map = new google.maps.Map(document.getElementById("map"), {
          zoom: 11,
          center: minsk,
          styles: [
            { elementType: "geometry", stylers: [{ color: "#242f3e" }] },
            {
              elementType: "labels.text.stroke",
              stylers: [{ color: "#242f3e" }],
            },
            {
              elementType: "labels.text.fill",
              stylers: [{ color: "#746855" }],
            },
            {
              featureType: "administrative.locality",
              elementType: "labels.text.fill",
              stylers: [{ color: "#d59563" }],
            },
            {
              featureType: "poi",
              elementType: "labels.text.fill",
              stylers: [{ color: "#d59563" }],
            },
            {
              featureType: "poi.park",
              elementType: "geometry",
              stylers: [{ color: "#263c3f" }],
            },
            {
              featureType: "poi.park",
              elementType: "labels.text.fill",
              stylers: [{ color: "#6b9a76" }],
            },
            {
              featureType: "road",
              elementType: "geometry",
              stylers: [{ color: "#38414e" }],
            },
            {
              featureType: "road",
              elementType: "geometry.stroke",
              stylers: [{ color: "#212a37" }],
            },
            {
              featureType: "road",
              elementType: "labels.text.fill",
              stylers: [{ color: "#9ca5b3" }],
            },
            {
              featureType: "road.highway",
              elementType: "geometry",
              stylers: [{ color: "#746855" }],
            },
            {
              featureType: "road.highway",
              elementType: "geometry.stroke",
              stylers: [{ color: "#1f2835" }],
            },
            {
              featureType: "road.highway",
              elementType: "labels.text.fill",
              stylers: [{ color: "#f3d19c" }],
            },
            {
              featureType: "transit",
              elementType: "geometry",
              stylers: [{ color: "#2f3948" }],
            },
            {
              featureType: "transit.station",
              elementType: "labels.text.fill",
              stylers: [{ color: "#d59563" }],
            },
            {
              featureType: "water",
              elementType: "geometry",
              stylers: [{ color: "#17263c" }],
            },
            {
              featureType: "water",
              elementType: "labels.text.fill",
              stylers: [{ color: "#515c6d" }],
            },
            {
              featureType: "water",
              elementType: "labels.text.stroke",
              stylers: [{ color: "#17263c" }],
            },
          ]
        })
        var markers = {{ coordinates }}

        for (var i = 0; i < markers.length; i++){
            new google.maps.Marker(markers[i]);
        }
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>


    <h3><font color="white">Квартиры, выставленные на продажу</font>
    {% if user.is_authenticated %}
      <a href="{% url 'add_house' %}" class="btn btn-warning btn-sm" role="button">Добавить анкету</a>
    {% endif %}
    </h3>
    <div id="map">

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALRO5c6X6Jm6Rc26dooAl1T_f2RZysmU0&callback=initMap&libraries=&v=weekly"
      async defer
    ></script>

    </div>

    <div id="addresses">

    <a href="{% url 'all_houses' page=1%}"><font color="yellow">Выключить фильтр</font></a><br>

    <form method="POST" action="">{%csrf_token%}
        <div id="price_filter" class="input-group mb-3">

          <span class="input-group-text">$</span>
          <span class="input-group-text">{{ filters.min_price }}</span>
          <input type="text" class="form-control" name="min-price" aria-label="Price amount" required placeholder="min">
          <span class="input-group-text">$</span>
          <span class="input-group-text">{{ filters.max_price }}</span>
          <input type="text" class="form-control" name="max-price" aria-label="Price amount" required placeholder="max">
          <input class="btn btn-dark" type="submit" value="Фильтровать">
        </div>
    </form>

    <div id="cards">

        <table>

          <tr>
            {% for house in houses_first %}
            <td><div class="card text-white bg-secondary mb-3" style="width: 14rem; height: 21rem;">
          {% if house.cover %}
            <img src="{{ house.cover.url }}" class="card-img-top" alt="{{ house.address}}" style="height: 9rem;">
          {% endif %}
          {% if not house.cover %}
            <img src="/media/cyber_logo.svg" class="card-img-top" alt="{{ house.address}}" style="height: 9rem;">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ house.address }}</h5>
            <p class="card-text">{{ house.short_description }}</p>
            <a href="{% url 'house_detail' house_pk=house.pk %}" class="btn btn-primary">Открыть</a>
          </div>
        </div></td>
              {% endfor %}

          </tr>

          <tr>
              {% for house in houses_second %}
            <td><div class="card text-white bg-secondary mb-3" style="width: 14rem; height: 21rem;">
          {% if house.cover %}
            <img src="{{ house.cover.url }}" class="card-img-top" alt="{{ house.address}}" style="height: 9rem;">
          {% endif %}
          {% if not house.cover %}
            <img src="/media/cyber_logo.svg" class="card-img-top" alt="{{ house.address}}" style="height: 9rem;">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ house.address }}</h5>
            <p class="card-text">{{ house.short_description }}</p>
            <a href="{% url 'house_detail' house_pk=house.pk %}" class="btn btn-primary">Открыть</a>
          </div>
        </div></td>
              {% endfor %}

          </tr>

        </table>

        <br>

    </div>

    {% if filters.min_price != 0 or filters.max_price != 0 %}
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="{% url 'all_filtered_houses' page=current_page.previous min_price=filters.min_price max_price=filters.max_price%}">Previous</a></li>
        {% for page in pages_count %}
            <li class="page-item"><a class="page-link" href="{% url 'all_filtered_houses' page=page min_price=filters.min_price max_price=filters.max_price%}">{{ page }}</a></li>
        {% endfor %}
        <li class="page-item"><a class="page-link" href="{% url 'all_filtered_houses' page=current_page.next min_price=filters.min_price max_price=filters.max_price%}">Next</a></li>
      </ul>
    </nav>
    {% endif %}

    {% if filters.min_price == 0 and filters.max_price == 0 %}
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="{% url 'all_houses' page=current_page.previous %}">Previous</a></li>
        {% for page in pages_count %}
            <li class="page-item"><a class="page-link" href="{% url 'all_houses' page=page %}">{{ page }}</a></li>
        {% endfor %}
        <li class="page-item"><a class="page-link" href="{% url 'all_houses' page=current_page.next %}">Next</a></li>
      </ul>
    </nav>
    {% endif %}

    </div>

  </body>
</html>
