{% load static %}
<html>
  <head>
      {% include 'inc/_nav.html' %}
      <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/style.css' %}" rel="stylesheet">
      <title>Информация о квартире</title>

    <style type="text/css">
      #map {
        height: 80%;
        width: 100%;
      }
    </style>

  </head>
  <body>
    <script>
      function initMap() {
        coordinates = {{ coordinates }}
        minsk = { lat: coordinates[0].position.lat, lng: coordinates[0].position.lng};
        map = new google.maps.Map(document.getElementById("map"), {
          zoom: 14,
          center: minsk,
          styles: [
            { elementType: "geometry", stylers: [{ color: "#242f3e" }] },
            {
              elementType: "labels.text.stroke",
              stylers: [{ color: "#242f3e" }],
            },
            {
              elementType: "labels.text.fill",
              stylers: [{ color: "#746855" }],
            },
            {
              featureType: "administrative.locality",
              elementType: "labels.text.fill",
              stylers: [{ color: "#d59563" }],
            },
            {
              featureType: "poi",
              elementType: "labels.text.fill",
              stylers: [{ color: "#d59563" }],
            },
            {
              featureType: "poi.park",
              elementType: "geometry",
              stylers: [{ color: "#263c3f" }],
            },
            {
              featureType: "poi.park",
              elementType: "labels.text.fill",
              stylers: [{ color: "#6b9a76" }],
            },
            {
              featureType: "road",
              elementType: "geometry",
              stylers: [{ color: "#38414e" }],
            },
            {
              featureType: "road",
              elementType: "geometry.stroke",
              stylers: [{ color: "#212a37" }],
            },
            {
              featureType: "road",
              elementType: "labels.text.fill",
              stylers: [{ color: "#9ca5b3" }],
            },
            {
              featureType: "road.highway",
              elementType: "geometry",
              stylers: [{ color: "#746855" }],
            },
            {
              featureType: "road.highway",
              elementType: "geometry.stroke",
              stylers: [{ color: "#1f2835" }],
            },
            {
              featureType: "road.highway",
              elementType: "labels.text.fill",
              stylers: [{ color: "#f3d19c" }],
            },
            {
              featureType: "transit",
              elementType: "geometry",
              stylers: [{ color: "#2f3948" }],
            },
            {
              featureType: "transit.station",
              elementType: "labels.text.fill",
              stylers: [{ color: "#d59563" }],
            },
            {
              featureType: "water",
              elementType: "geometry",
              stylers: [{ color: "#17263c" }],
            },
            {
              featureType: "water",
              elementType: "labels.text.fill",
              stylers: [{ color: "#515c6d" }],
            },
            {
              featureType: "water",
              elementType: "labels.text.stroke",
              stylers: [{ color: "#17263c" }],
            },
          ]
        })
        new google.maps.Marker({
          position: minsk,
          map:map
        });
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <h3><font color="white">Подробная информация о квартире</font>
    <a href="{% url 'all_houses' page=1%}" class="btn btn-warning btn-sm" role="button">Все квартиры</a>
    </h3>

    <div id="addresses" style="text-align: center;">

    {% if house.cover %}
    <div class="text-center">
      <img src="{{ house.cover.url }}" class="rounded" alt="..." style="width: 60rem; height:30rem;">
    </div>
    {% endif %}


    <font size="5" color="yellow">
    <font size="5" color="white">Владелец: </font>{{ house.author }}<br>
    <font size="5" color="white">Адрес: </font>{{ house.address }}<br>
    <font size="5" color="white">Цена: </font>{{ house.price }}<br>
    <font size="5" color="white">Описание: </font>{{ house.long_description }}<br>
    </font>

    {% if user_is_author %}
        <a href="{% url 'delete_house' house_pk=house.pk %}" class="btn btn-danger btn-sm" role="button"><font color="white">Удалить анкету</font></a>
        <a href="{% url 'edit_house' house_pk=house.pk %}" class="btn btn-danger btn-sm" role="button"><font color="white">Редактировать анкету</font></a>
    {% endif %}

    </div>

    <div id="map">

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALRO5c6X6Jm6Rc26dooAl1T_f2RZysmU0&callback=initMap&libraries=&v=weekly"
      async defer
    ></script>

    </div>

  </body>
</html>
