{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Log In{% endblock %}
&nbsp;{% block content %}
<h2><font color="white">Вход</font></h2>
<form method="post" style="width: 50%;">
  {% csrf_token %}
  <font color="yellow">{{ form|crispy }}</font>
  <button type="submit" class="btn btn-warning btn-sm">Log In</button>
</form>
{% endblock content %}