{% extends 'base.html' %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

{% for item in news %}
<div class="card mb-3">
    <div class="card-header">
        Категория: <a href="{{ item.category.get_absolute_url }}">{{ item.category }}</a>
    </div>
    <div class="card-body">
        <div class="media">
            {% if item.photo %}
                <img src="{{ item.photo }}" alt="" class="mr-3" width="500px">
            {% else %}
                <img src="media/no-image-available.png" alt="" class="float-left mr-3">
            {% endif %}
            <div class="media-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">{{ item.content|truncatewords:50 }}</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="{{ item.get_absolute_url }}" class="btn btn-secondary">Подробнее</a>
                </div>
            </div>
        </div>

        <div class="card-footer text-muted">
            {{ item.created_at|date:"Y-m-d H:i"}}
        </div>
    </div>
    <p></p>
</div>
{% endfor %}
{% endblock %}
