<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">Категории</a>
    {% for item in categories %}
    <a href="{{ item.get_absolute_url }}" class="list-group-item list-group-item-action">{{ item.title }} <span class="badge rounded-pill bg-primary">{{ item.cnt }}</span></a>
    {% endfor %}
</div>
