{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h2><font color="white">Регистрация</font></h2>
<form method="post" style="width: 50%;">
  {% csrf_token %}
  <font color="yellow">{{ form|crispy }}</font>
  <button type="submit" class="btn btn-warning btn-sm">Sign up</button>
</form>
{% endblock content %}