{% extends 'base.html' %}

{% block content %}
<div id="info">
  <ul class="list-group">
    <h2><font color="white">Курсы валют</font></h2>
    <li class="list-group-item">Доллар США: {{ currency.dollar.Cur_OfficialRate }}</li>
    <li class="list-group-item">Евро: {{ currency.euro.Cur_OfficialRate }}</li>
    <li class="list-group-item">Украинская гривна: {{ currency.uah.Cur_OfficialRate }}</li>
    <li class="list-group-item">Российский рубль: {{ currency.rub.Cur_OfficialRate }}</li>
  </ul>

  <br>

  <ul class="list-group">
    <h2><font color="white">Число заболевших коронавирусом</font></h2>
    <li class="list-group-item">Беларусь: {{ virus.belarus.latest.confirmed }}</li>
    <li class="list-group-item">Россия: {{ virus.russia.latest.confirmed }}</li>
    <li class="list-group-item">Украина: {{ virus.ukraine.latest.confirmed }}</li>
  </ul>

  <br>

  <h2><font color="white">Погода в городе</font></h2>
    <form method="POST" action="">
      {%csrf_token%}
      <input type="text" id="city" class="form-control" name="city" placeholder="Введите город">
      <input type="submit" name="send" value="Узнать" class="mt-2 btn btn-warning">
    </form>
    {% if info.city != 'Город не найден' %}
      <b>Город: </b>{{ info.city }}<br>
      <b>Температура: </b>{{ info.temp }} (цельсии)<br>
      <img src="https://openweathermap.org/img/w/{{ info.icon }}.png" alt="">
    {% else %}
      <b>{{ info.city }}</b><br>
    {% endif %}
</div>

<style>
  #info{
    width: 50%;
    text-align: center;
  }
</style>
{% endblock %}