<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/media/cyber_logo.svg" width="200" alt="CyberOnliner">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Главная</a>
                <a class="nav-link" href="#">Каталог</a>
                <a class="nav-link" href="{% url 'index' %}">Новости</a>
                <a class="nav-link" href="#">Автобарахолка</a>
                <a class="nav-link" href="{% url 'all_houses' page=1 %}">Дома и квартиры</a>
                <a class="nav-link" href="#">Проект 5</a>
                <a class="nav-link" href="#">Проект 6</a>
                <div id="auth" align="right">
                    {% if user.is_authenticated %}
                        <p style="line-height:0%;"><font color="white">Привет, {{ user.username }}!</font></p>
                        <p style="line-height:0%;"><a href="{% url 'logout' %}"><font color="white">Выйти</font></a></p>
                    {% else %}
                        <p style="line-height:0%;" ><font color="white">Вы не вошли в аккаунт.</font></p>
                        <p style="line-height:0%;"><a href="{% url 'login' %}"><font color="white">Войти</font></a></p>
                        <p style="line-height:0%;"><a href="{% url 'signup' %}"><font color="white">Регистрация</font></a></p>
                    {% endif %}
                </div>

                <style>
                    #auth {
                        position: fixed;
                        right: 0;
                    }
                    p.dline {
                        line-height: 0.9em;
                   }
                </style>

            </div>
        </div>
    </div>
</nav>

