{% load news_tags %}

<div class="list-group">
    {% get_list_of_categories as categories %}
    <a href="#" class="list-group-item list-group-item-action active list-group-item-secondary" aria-current="true">Категории</a>
    {% for item in categories %}
    <a href="{% url 'category' item.pk %}" class="list-group-item list-group-item-action list-group-item-light">{{ item.title }}</a>
    {% endfor %}
</div>
<br>
